.navbar {
  height: 50px;
  background-color: rgba(102, 16, 83, 0.698);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}

.content-list {
  display: flex;
  align-items: flex-start;
  list-style: none;
  flex-direction: column;
  font-weight: bold;
  cursor: pointer;
}

.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.content-list-item {
  display: flex;
  margin-right: 20px;
  font-weight: 500;
  margin-bottom: 1em;
  cursor: pointer;
  justify-content: space-between;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.content-avatar {
  width: 5em;
  height: 5em;
  margin-right: 2em;
  border-radius: 10%;
  object-fit: cover;
}

.home {
  display: flex;
  padding: 50px 100px;
  justify-content: center;
  flex-wrap: wrap;
}

.repos {
  display: flex;
  padding: 50px 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  width: 60%;
  height: 75%;
  -webkit-box-shadow: -4px 1px 12px -1px #000000;
  box-shadow: -4px 1px 12px -1px #000000;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.card {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: -4px 1px 12px -1px #000000;
  box-shadow: -4px 1px 12px -1px #000000;
}

.card-title {
  margin-bottom: 1em;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px 0px;
}

.card-button {
  border: none;
  border-radius: 10px;
  background-color: rgba(53, 16, 102, 0.678);
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-button {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.github {
  background-color: black;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input {
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.submit {
  width: 200px;
  background-color: rgba(128, 0, 128, 0.671);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-title {
  position: absolute;
  top: 150px;
  color: lightgray;
}

.link {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
    margin-bottom: 50px;
  }
}
